* {
  margin: 0;
  padding: 0;
}


.App {
  box-sizing: border-box;
  text-align: center;
  background-color: black;
  padding-top: 20px;
  min-height: 100vh;
}

.logo {
  width:300px;
}

.name {
  background-color:black;
  color:white;
  border-radius: #61c8e6;;
  width: 350px;
  
}

.character-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,1fr);
  grid-gap: 25px;
  align-items: stretch;
  margin: 30px 60px;
}

.character-list a {
  text-decoration: none;
  width: 100%;
}

h1 {
  color:#00ffff;
  text-transform:uppercase;
}

.character-list_items {
  width: 100%;
  min-height: 100%;
  background-color:#61c8e6;
}

.character-card {
  background-color:#61c8e6;
  text-decoration: none;
  color:white;
  text-align: start; 
  width: 100%;
}

.character-card img {
  width: 100%;
}

.name-card {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 10px 0 10px;
}

.species-card {
  font-size: 18px;
  padding:10px;
}
.character-detail {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  width:500px;
  color:white;
  background-color:#61c8e6;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 30px;
}

.character-detail_text {
  text-transform: capitalize;
  text-align: start;
  margin-left: 30px;
}

.character-detail_image img {
  width: 100%;
}

.character-detail_image {
  width: 250px;
}

.name-detail {
  font-size:22px;
  font-weight: bold;

}

.far{
  color:#ffff33;
}

.fas{
  color:red;
}

.fab{
  color: #006600;
}

.error-message{
  color: white;
  font: 16px;
}