* {
  margin: 0;
  padding: 0;
}


html {
  background-color: black;
}

.App {
  box-sizing: border-box;
  text-align: center;
  background-color: black;
  padding-top: 20px;
  min-height: 100vh;
}

.logo {
  width:300px;
}

.name {
  background-color:black;
  color:white;
  border-radius: #61c8e6;
  width: 75%;
  margin-top: 30px;
}

@media all and (min-width:768px ) {
  .name {
    width: 350px;
  }
}
@media all and (min-width:1140px  ) {

  .name {
  }
}

.character-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 25px;
  align-items: stretch;
  margin: 30px auto;
  max-width: 300px;
}

@media all and (min-width:768px ) {
  .character-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    align-items: stretch;
    margin: 30px 60px;
    width: auto;
    max-width: 5000px;
  }
}

@media all and (min-width:1140px  ) {
  .character-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 25px;
    align-items: stretch;
    margin: 30px 60px;
  }
}

.character-list a {
  text-decoration: none;
  width: 100%;
}

h1 {
  color:#00ffff;
  text-transform:uppercase;
}

.character-list_items {
  width: 100%;
  min-height: 100%;
  background-color:#61c8e6;
}

.character-card {
  background-color:#61c8e6;
  text-decoration: none;
  color:white;
  text-align: start; 
  width: 100%;
}

.character-card img {
  width: 100%;
}

.name-card {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 10px 0 10px;
}

.species-card {
  font-size: 18px;
  padding:10px;
}
.character-detail {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  width:500px;
  color:white;
  background-color:#61c8e6;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 30px;
}

.btn {
  transform:translate(480px,-170px);
  border:none;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.character-detail_text {
  text-transform: capitalize;
  text-align: start;
  margin-left: 30px;
}

.character-detail_image img {
  width: 100%;
}

.character-detail_image {
  width: 250px;
}

.name-detail {
  font-size:22px;
  font-weight: bold;

}

.far{
  color:#ffff33;
}

.fas{
  color:red;
}

.fab{
  color: #006600;
}

.error-message{
  color: white;
  font: 16px;
}

.error-message-list{
  color: white;
  font: 16px;
  margin-top:45px;
}